* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.card {
   height: 100vh;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.weightField {
   padding: 6px;
   border-radius: 6px;
   /* outline: 2px dashed blue; */
   border: 1px solid black;
}

.theme {
   position: absolute;
   bottom: 0;
   right: 0;
}

.title {
   color: var(--text-two-color);
}

.weightCal {
   color: var(--text-color);
}

#themeDropdown {
   padding: 6px;
}

button {
   padding: 6px;
}
